In [2]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path_to_csv = os.path.join("..", "data", "athlete_cleaned.csv")

athletes = pd.read_csv(path_to_csv)

In [4]:
athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
athletes_women = athletes.loc[athletes["Sex"] == "F"]
athletes_men = athletes.loc[athletes["Sex"] == "M"]

# Lets do a Logistical Regression Model on gender

In [14]:
athletes_traits = athletes[["Sex","Age","Height","Weight"]]


X = athletes_traits.drop("Sex", axis=1)
y = athletes_traits["Sex"]

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [16]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
classifier.fit(X_train, y_train)

C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.793083823234577
Testing Data Score: 0.7914322300259982

In [19]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['F' 'M' 'M' 'F' 'M' 'F' 'M' 'F' 'F' 'M']
First 10 Actual labels: ['F', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'F', 'M']

In [20]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction Actual
0              F      F
1              M      M
2              M      M
3              F      F
4              M      M
5              F      M
6              M      F
7              F      M
8              F      F
9              M      M
10             F      F
11             F      F
12             M      M
13             M      M
14             M      M
15             M      M
16             F      M
17             F      M
18             M      M
19             F      F
20             M      F
21             F      F
22             M      F
23             M      M
24             M      M
25             M      F
26             M      M
27             F      F
28             M      M
29             F      F
...          ...    ...
51512          F      F
51513          M      M
51514          M      M
51515          F      F
51516          F      F
51517          F      F
51518          M      M
51519          M      M
51520          M      F
51521          F      M
51522          M      M
51523          M      M
51524          M      M
51525          F      M
51526          M      F
51527          F      M
51528          M      M
51529          M      M
51530          M      M
51531          M      M
51532          M      M
51533          M      M
51534          M      M
51535          F      F
51536          M      F
51537          F      M
51538          F      F
51539          M      M
51540          M      M
51541          M      M

[51542 rows x 2 columns]